body {
  padding: 50px 5px 50px 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-control {
  display: inline-block;
  width: 70%;
}

.form-common {
  margin-top: 10px;
}
.form-word {
}
.form-comment {
}

.word {
}

.word-lg {
  font-size: 32px;
}

.word-separator {
  margin: 0px 0px 15px 0px;
  font-size: 20px;
}

.word-separator-default {
}

.reference {
}
